In [2]:
import os
import pandas as pd
import numpy as np
import datetime
from datetime import datetime

base_path = os.getcwd().replace("/notebooks","/data/interim")
date_folder_name = '20181031'
data_dir = os.path.join(base_path, date_folder_name)
os.listdir(data_dir)

['combined_accounts.csv']

In [12]:
csv_name = "combined_accounts.csv"
accts_path = os.path.join(data_dir, csv_name)
accts_df = pd.read_csv(accts_path)
accts_df.head()

,Source,date,Description,credit_flg,debit_flg,Amount,meta_category,category,sub_category,event
0,USAA CC,10/30/18,USAA CREDIT CARD PAYMENT SAN ANTONIO TX,True,False,1089.31,NaN,NaN,NaN,NaN
1,USAA CC,10/30/18,USAA CREDIT CARD PAYMENT SAN ANTONIO TX,True,False,100.00,NaN,NaN,NaN,NaN
2,USAA CC,10/29/18,USAA INS PREMIU USAA INS SAN ANTONIO TX,False,True,-60.30,NaN,Car,Insurance,NaN
3,USAA CC,10/29/18,USAA CREDIT CARD PAYMENT SAN ANTONIO TX,True,False,1135.30,NaN,NaN,NaN,NaN
4,USAA CC,10/28/18,CHRISTY SPORTS 16 CHERRY DENVER CO,False,True,-90.00,Hobby,Snowboarding,Maintenance,NaN

In [18]:
accts_df["date"] = pd.to_datetime(accts_df["date"])
accts_df["year"] = accts_df.apply(lambda x : x["date"].year, axis=1)
accts_df["month"] = accts_df.apply(lambda x : x["date"].month, axis=1)
accts_df["day"] = accts_df.apply(lambda x : x["date"].day, axis=1)

In [19]:
accts_df.head()

,Source,date,Description,credit_flg,debit_flg,Amount,meta_category,category,sub_category,event,month,year,day
0,USAA CC,2018-10-30,USAA CREDIT CARD PAYMENT SAN ANTONIO TX,True,False,1089.31,NaN,NaN,NaN,NaN,10,2018,30
1,USAA CC,2018-10-30,USAA CREDIT CARD PAYMENT SAN ANTONIO TX,True,False,100.00,NaN,NaN,NaN,NaN,10,2018,30
2,USAA CC,2018-10-29,USAA INS PREMIU USAA INS SAN ANTONIO TX,False,True,-60.30,NaN,Car,Insurance,NaN,10,2018,29
3,USAA CC,2018-10-29,USAA CREDIT CARD PAYMENT SAN ANTONIO TX,True,False,1135.30,NaN,NaN,NaN,NaN,10,2018,29
4,USAA CC,2018-10-28,CHRISTY SPORTS 16 CHERRY DENVER CO,False,True,-90.00,Hobby,Snowboarding,Maintenance,NaN,10,2018,28

In [34]:
debits_df = accts_df[(accts_df.debit_flg == True) & (accts_df.year == 2018)]
debits_df = debits_df[debits_df.category != "Credit Card Payment"]
debits_df = debits_df[debits_df.meta_category != "Savings"]
debits_df.groupby('month')['Amount'].sum()

month
1     -7745.48
2     -5740.93
3    -11670.91
4     -6203.34
5     -5173.30
6     -3194.09
7     -7224.47
8     -3872.80
9     -4992.81
10    -6698.21
Name: Amount, dtype: float64

In [37]:
debits_df[debits_df.month == 3].to_csv("/Users/greg.bolla/Desktop/march.csv")

In [39]:
credits_df = accts_df[accts_df.credit_flg == True]
credits_df[credits_df.month == 10].to_csv("/Users/greg.bolla/Desktop/october_credits.csv")