In [1]:
import os
import pandas as pd
import numpy as np
import datetime

base_path = os.getcwd().replace("/notebooks","/data")
date_folder_name = '20181021'
data_dir = os.path.join(base_path, date_folder_name)
os.listdir(data_dir)

['citizens_checking.CSV',
 'fidelity_401k.csv',
 'fidelity_discretionary_investment_q1_2018.csv',
 'fidelity_discretionary_investment_q2_2018.csv',
 'fidelity_discretionary_investment_q3_2018.csv',
 'fidelity_discretionary_investment_q4_2017.csv',
 'usaa_cc_download.csv',
 'usaa_checking.csv']

In [44]:
usaa_cc_path = os.path.join(data_dir, "usaa_cc_download.csv")
usaa_cc_df = pd.read_csv(usaa_cc_path, header=None)
#usaa_cc_df.columns = ["status", "col_to_remove_1", "date", "col_to_remove_2", "description", "type", "raw_amount"]

#usaa_cc_df = usaa_cc_df[[col for col in usaa_cc_df.columns if "col_to_remove" not in col]]
#usaa_cc_df.head(n=20)

In [42]:
class Transaction():
    
    def __init__(self, txn, source):
        
        self.source = source
        self.transformation_fxn = self.get_transformation_fxn(self.source)
        self.transformation_fxn(txn)
        
    def get_transformation_fxn(self, source):
        if "usaa" in source:
            fxn = self.transform_usaa_txn
        return fxn 
    def transform_usaa_txn(self, txn):
        
        print(row)
        #return cleaned_txn

In [45]:
for idx, row in usaa_cc_df[0:2].iterrows():
    
    txn = Transaction(row, "usaa_cc")

0                                      posted
1                                         NaN
2                                  10/20/2018
3                                         NaN
4    THE PARLOR ROOM 286140800AUSTIN       TX
5                          Restaurants/Dining
6                                        -132
Name: 0, dtype: object
0                                          posted
1                                             NaN
2                                      10/19/2018
3                                             NaN
4    AUS 3187 SECOND BAR &amp; KITAUSTIN       TX
5                              Restaurants/Dining
6                                           -11.9
Name: 1, dtype: object

In [3]:
usaa_cc_df["amount"] = usaa_cc_df.apply(lambda x: x["raw_amount"].replace("--",""), axis=1)
usaa_cc_df["amount"] = usaa_cc_df["amount"].astype(float)

In [4]:
usaa_cc_df["date"] = pd.to_datetime(usaa_cc_df["date"])

In [5]:
usaa_cc_df[usaa_cc_df['date']<datetime.date(2018,10,1)].head()

/Users/greg.bolla/.local/share/virtualenvs/finances-8KrlGgdl/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """Entry point for launching an IPython kernel.

,status,date,description,type,raw_amount,amount
40,posted,2018-09-30,RYE SOCIETY 000000001 DENVER CO,Restaurants/Dining,-4.05,-4.05
41,posted,2018-09-30,USAA CREDIT CARD PAYMENT SAN ANTONIO TX,Credit Card Payments,--494.43,494.43
42,posted,2018-09-30,FESTIV LLC DENVER CO,Healthcare/Medical,-20,-20.00
43,posted,2018-09-29,HILTON GC 888 774-01 630-353-7900 IL,Travel,-101.95,-101.95
44,posted,2018-09-29,SAFEWAY STORE 2246 DENVER CO,Groceries,-64.09,-64.09

In [6]:
def assign_id(row, df):
    date = row["date"].strftime("%Y%m%d")
    amt = str(abs(row["amount"]))
    
    id = "{}_{}".format(date, amt)
    print(df.columns)
    df.where(df["id"])
    return id

#usaa_cc_df["id"] = np.nan
#usaa_cc_df["id"] = usaa_cc_df.apply(assign_id, args=(usaa_cc_df,), axis=1)
usaa_cc_df["id"] = np.nan
for idx, row in usaa_cc_df.iterrows():
    date = row["date"].strftime("%Y%m%d")
    amt = str(abs(row["amount"]))
    
    id = "{}_{}".format(date, amt)
    if id in usaa_cc_df["id"].unique():

        for i in range(2, 10):
            if "{}_{}".format(id, i) not in usaa_cc_df["id"].unique():
                id = "{}_{}".format(id, i)
                break
    
    usaa_cc_df.iloc[idx, usaa_cc_df.columns.get_loc("id")] = id

/Users/greg.bolla/.local/share/virtualenvs/finances-8KrlGgdl/lib/python3.6/site-packages/ipykernel_launcher.py:18: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [13]:
usaa_cc_df["debit_flg"] = usaa_cc_df.apply(lambda x: True if x["amount"] < 0 else False, axis=1)
usaa_cc_df["credit_flg"] = usaa_cc_df.apply(lambda x: True if x["amount"] > 0 else False, axis=1)
usaa_cc_df["source"] = "usaa_cc"
usaa_cc_df.head(n=20)

,status,date,description,type,raw_amount,amount,id,debit_flg,credit_flg,source
0,posted,2018-10-20,THE PARLOR ROOM 286140800AUSTIN TX,Restaurants/Dining,-132,-132.00,20181020_132.0,True,False,usaa_cc
1,posted,2018-10-19,AUS 3187 SECOND BAR &amp; KITAUSTIN TX,Restaurants/Dining,-11.9,-11.90,20181019_11.9,True,False,usaa_cc
2,posted,2018-10-19,AUS 3185B BARTON SPRINGS AUSTIN TX,Gifts,-10.97,-10.97,20181019_10.97,True,False,usaa_cc
3,posted,2018-10-19,THE BLIND PIG PUB 6500000AUSTIN TX,Restaurants/Dining,-16,-16.00,20181019_16.0,True,False,usaa_cc
4,posted,2018-10-19,STUBBS BAR-B-Q 7392954753AUSTIN TX,Restaurants/Dining,-85,-85.00,20181019_85.0,True,False,usaa_cc
5,posted,2018-10-19,STUBBS BAR-B-Q 7392954753AUSTIN TX,Restaurants/Dining,-9.5,-9.50,20181019_9.5,True,False,usaa_cc
6,posted,2018-10-19,HAPPY CAKES CAFE 0018 DENVER CO,Restaurants/Dining,-5.13,-5.13,20181019_5.13,True,False,usaa_cc
7,posted,2018-10-19,CLIVE BAR 125520060949351AUSTIN TX,Restaurants/Dining,-10,-10.00,20181019_10.0,True,False,usaa_cc
8,posted,2018-10-19,CLIVE BAR 125520060949351AUSTIN TX,Restaurants/Dining,-32,-32.00,20181019_32.0,True,False,usaa_cc
9,posted,2018-10-19,ATX COCINA 001 ATX COCINAAUSTIN TX,Restaurants/Dining,-166,-166.00,20181019_166.0,True,False,usaa_cc
10,posted,2018-10-19,SKIPRO.COM 602-955-3939 AZ,General Merchandise,--185.36,185.36,20181019_185.36,False,True,usaa_cc
11,posted,2018-10-19,NATURAL GROCERS DT 25 U02DENVER CO,Groceries,-6.98,-6.98,20181019_6.98,True,False,usaa_cc
12,posted,2018-10-16,JENNY'S MARKET #002 10188DENVER CO,Groceries,-48.51,-48.51,20181016_48.51,True,False,usaa_cc
13,posted,2018-10-15,THE UPS STORE #2498 WESTMINSTER CO,Postage and Shipping,-16.77,-16.77,20181015_16.77,True,False,usaa_cc
14,posted,2018-10-15,KING SOOPERS #0055 000000WESTMINSTER CO,Groceries,-27.15,-27.15,20181015_27.15,True,False,usaa_cc
15,posted,2018-10-15,THE BLACK TUX 888-717-1588 CA,General Merchandise,-204.54,-204.54,20181015_204.54,True,False,usaa_cc
16,posted,2018-10-15,ZOLA REGISTRY NEW YORK NY,Restaurants/Dining,-150,-150.00,20181015_150.0,True,False,usaa_cc
17,posted,2018-10-15,USAA CREDIT CARD PAYMENT SAN ANTONIO TX,Credit Card Payments,--1405.26,1405.26,20181015_1405.26,False,True,usaa_cc
18,posted,2018-10-14,TARGET DENVER STAPLETON 2DENVER CO,General Merchandise,-82.3,-82.30,20181014_82.3,True,False,usaa_cc
19,posted,2018-10-13,THE UPS STORE #6326 DENVER CO,Postage and Shipping,-3.44,-3.44,20181013_3.44,True,False,usaa_cc

In [8]:
citizens_check_path = os.path.join(data_dir, "citizens_checking.csv")
citizens_check_df = pd.read_csv(citizens_check_path)
citizens_check_df.head()

,Transaction Type,Date,Account Type,Description,Amount,Reference No.,Credits,Debits
0,OTHER,10/17/18,Checking,NaN,0.03,,$0.03,NaN
1,DEBIT,10/15/18,Checking,FID BKG SVC LLC MONEYLINE,-200.00,,NaN,$200.00
2,DIRECT DEPOSIT,10/15/18,Checking,ORACLE AMERICA SALARY,1000.00,,"$1,000.00",NaN
3,DEBIT,10/2/18,Checking,USAA.COM PAYMNT CREDIT CRD,-63.44,,NaN,$63.44
4,DEBIT,10/2/18,Checking,DISCOVER E-PAYMENT,-136.56,,NaN,$136.56

In [9]:
fidelity_401k_path = os.path.join(data_dir, "fidelity_401k.csv")
fidelity_401k_df = pd.read_csv(fidelity_401k_path, skiprows=3)
fidelity_401k_df.head(n=25)

          Date            Investment Transaction Type  Amount  Shares/Unit
0   10/19/2018  VANGUARD TARGET 2055     CONTRIBUTION  403.47       10.901
1   10/02/2018  VANGUARD TARGET 2055     CONTRIBUTION  403.47       10.335
2   09/18/2018  VANGUARD TARGET 2055     CONTRIBUTION  403.47       10.361
3   09/05/2018  VANGUARD TARGET 2055     CONTRIBUTION  403.47       10.436
4   08/20/2018  VANGUARD TARGET 2055     CONTRIBUTION  609.69       15.819
5   08/02/2018  VANGUARD TARGET 2055     CONTRIBUTION  351.52        9.116
6   07/17/2018  VANGUARD TARGET 2055     CONTRIBUTION  324.47        8.444
7   07/05/2018  VANGUARD TARGET 2055     CONTRIBUTION  324.47        8.595
8   06/20/2018  VANGUARD TARGET 2055     CONTRIBUTION  356.92        9.358
9   06/04/2018  VANGUARD TARGET 2055     CONTRIBUTION  438.05       11.455
10  05/18/2018  VANGUARD TARGET 2055     CONTRIBUTION  405.60       10.666
11  05/03/2018  VANGUARD TARGET 2055     CONTRIBUTION  356.92        9.587
12  04/18/2018  VANGUARD TARGET 2055     CONTRIBUTION  324.47        8.525
13  04/03/2018  VANGUARD TARGET 2055     CONTRIBUTION  448.18       12.119
14  03/20/2018  VANGUARD TARGET 2055     CONTRIBUTION  407.63       10.761
15  03/05/2018  VANGUARD TARGET 2055     CONTRIBUTION  292.03        7.734
16  02/21/2018  VANGUARD TARGET 2055     CONTRIBUTION  405.60       10.750
17  02/02/2018  VANGUARD TARGET 2055     CONTRIBUTION  425.88       11.062
18  01/17/2018  VANGUARD TARGET 2055     CONTRIBUTION  324.47        8.309
19  01/03/2018  VANGUARD TARGET 2055     CONTRIBUTION  317.11        8.358
20  12/20/2017  VANGUARD TARGET 2055   REVENUE CREDIT    1.58        0.043
21  12/19/2017  VANGUARD TARGET 2055     CONTRIBUTION  310.22        8.324
22  12/04/2017  VANGUARD TARGET 2055     CONTRIBUTION  272.99        7.414
23  11/17/2017  VANGUARD TARGET 2055     CONTRIBUTION  380.02       10.474
24  11/03/2017  VANGUARD TARGET 2055     CONTRIBUTION  335.04        9.204

In [12]:
fidelity_investment_path = os.path.join(data_dir, "fidelity_discretionary_investment_q3_2018.csv")
fidelity_investment_df = pd.read_csv(fidelity_investment_path)
fidelity_investment_df.head(n=20)

,Run Date,Action,Symbol,Security Description,Security Type,Quantity,Price ($),Commission ($),Fees ($),Accrued Interest ($),Amount ($),Settlement Date
0,09/28/2018,REINVESTMENT,FZFXX,FIDELITY TREASURY MONEY MARKET FUND,Cash,3.870,1.00,NaN,NaN,NaN,-3.87,NaN
1,09/28/2018,DIVIDEND RECEIVED,FZFXX,FIDELITY TREASURY MONEY MARKET FUND,Cash,NaN,NaN,NaN,NaN,NaN,3.87,NaN
2,09/17/2018,Electronic Funds Transfer Received,,No Description,Cash,NaN,NaN,NaN,NaN,NaN,200.00,NaN
3,09/14/2018,REINVESTMENT,FBGRX,FIDELITY BLUE CHIP GROWTH,Cash,0.976,100.85,NaN,NaN,NaN,-98.39,NaN
4,09/14/2018,DIVIDEND RECEIVED,FBGRX,FIDELITY BLUE CHIP GROWTH,Cash,NaN,NaN,NaN,NaN,NaN,1.77,NaN
5,09/14/2018,LONG-TERM CAP GAIN,FBGRX,FIDELITY BLUE CHIP GROWTH,Cash,NaN,NaN,NaN,NaN,NaN,96.62,NaN
6,09/04/2018,Electronic Funds Transfer Received,,No Description,Cash,NaN,NaN,NaN,NaN,NaN,100.00,NaN
7,08/31/2018,REINVESTMENT,FZFXX,FIDELITY TREASURY MONEY MARKET FUND,Cash,3.470,1.00,NaN,NaN,NaN,-3.47,NaN
8,08/31/2018,DIVIDEND RECEIVED,FZFXX,FIDELITY TREASURY MONEY MARKET FUND,Cash,NaN,NaN,NaN,NaN,NaN,3.47,NaN
9,08/15/2018,Electronic Funds Transfer Received,,No Description,Cash,NaN,NaN,NaN,NaN,NaN,200.00,NaN
10,08/01/2018,Electronic Funds Transfer Received,,No Description,Cash,NaN,NaN,NaN,NaN,NaN,100.00,NaN
11,07/31/2018,REINVESTMENT,FZFXX,FIDELITY TREASURY MONEY MARKET FUND,Cash,2.490,1.00,NaN,NaN,NaN,-2.49,NaN
12,07/31/2018,DIVIDEND RECEIVED,FZFXX,FIDELITY TREASURY MONEY MARKET FUND,Cash,NaN,NaN,NaN,NaN,NaN,2.49,NaN
13,07/31/2018,Electronic Funds Transfer Paid,,No Description,Cash,NaN,NaN,NaN,NaN,NaN,-327.41,NaN
14,07/17/2018,Electronic Funds Transfer Paid,,No Description,Cash,NaN,NaN,NaN,NaN,NaN,-2500.00,NaN
15,07/16/2018,Electronic Funds Transfer Received,,No Description,Cash,NaN,NaN,NaN,NaN,NaN,200.00,NaN
16,07/12/2018,YOU SOLD,FBGRX,FIDELITY BLUE CHIP GROWTH,Cash,-17.640,102.04,NaN,NaN,NaN,1800.00,07/13/2018
17,07/12/2018,YOU SOLD,FARNX,FIDELITY EVENT DRIVEN OPPORTUNITIES,Cash,-172.142,14.57,NaN,NaN,NaN,2508.11,07/13/2018
18,07/06/2018,REINVESTMENT,FASMX,FIDELITY ASSET MANAGER 50%,Cash,0.592,18.39,NaN,NaN,NaN,-10.89,
19,07/06/2018,DIVIDEND RECEIVED,FASMX,FIDELITY ASSET MANAGER 50%,Cash,NaN,NaN,NaN,NaN,NaN,10.89,